/* Resets */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary-color: #FA375C;
  --black-color: #000;
  --white-color: #fff;
  --hover-grey-color: #F7F7F7;
}

body,html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  width: 100vw;
  overflow-x: hidden;

  font-family: 'Montserrat', sans-serif;
}

.container{
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
  width: 1000px;

}

/* Navbar */
nav, ul{
  display: flex;
  align-items: center;
}

nav{
  justify-content: space-between;
}

.logo{

  color: var(--primary-color);
  margin-right: 100px;
}

ul li{
  margin: 0 10px;
  list-style: none;
  padding: 10px 10px;
  border-radius: 24px;

}

ul li:hover{
  background: var(--hover-grey-color);
}

ul a{
  color: var(--black-color);
  font-size: 12px;
  font-weight: 700;
  text-decoration: unset;
}

.nav__ul--siginu-up{
  background: var(--white-color);
  border: 3px solid var(--hover-grey-color);
}

.nav__ul--siginu-up:hover{
  background: var(--white-color);
  box-shadow: 2px 3px 5px var(--hover-grey-color);
}

/* Header */

header h2{
  font-size: 16px;
  font-weight: 500;

}

header h3{
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

.header__filter{
  width: 100%;

  padding: 10px 0 10px 15px;
  border: 2px solid var(--hover-grey-color);
  border-radius: 14px;
  box-shadow: 2px 3px 10px #DDDDDD;
}

.header__filter, .input-group{
  display: flex;

}

.input-item{
  padding-right: 50px;
  padding-left: 10px;
}
.between{
  border-left: 1px solid #DDDDDD ;
  border-right: 1px solid #DDDDDD ;
}
.input-item +.input-item{
  margin: 0 20px;
}
input{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  margin-top: 0;
  height: 30px;
  width: 200px;
  font-size: 12px;
}

button{
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background: var(--primary-color);
  color: var(--white-color);
  padding: 0 24px;
  margin: 4px 0 4px 0;
  border-radius: 8px;
}
button i {
  padding-right: 4px;
}
.container__header{
  display: flex;
  flex-direction: column;
  width: 100%;
}